@font-face {
    font-family: raleway-variable;
    src: url("./fonts/Raleway/Raleway-VariableFont_wght.ttf");
}

*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: raleway-variable, "Trebuchet MS", "Lucida Sans Unicode",
        "Lucida Grande", "Lucida Sans", Arial, sans-serif;
    font-size: 1rem;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: linear-gradient(
        to top,
        #32ee7f,
        #00f0ab,
        #00f1d0,
        #00efec,
        #27ecfe
    );
}

header,
footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #eefcfea9;
}

header {
    padding: 0.4em;
}

main {
    margin: 2em 1em;
    display: flex;
    justify-content: center;
}

footer {
    flex-direction: column;
    margin-top: auto;
    padding: 1em 0;
}

.container {
    padding: 1.5em;
    background-color: white;
    border-radius: 1em;
    width: auto;
    max-width: 80rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

ul,
ol {
    padding: 0;
}

.pokemon-list,
.navigation {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

li > button {
    background: #cffffdb0;
    color: inherit;
    border: none;
    border-radius: 0.5em;
    padding: 0.5em;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    width: 16ch;
    max-width: auto;
    min-height: auto;
    height: auto;
    -webkit-tap-highlight-color: transparent;
}

.modal {
    padding: 1em;
    max-width: 600px;
    border: 0;
    border-radius: 5px;
    box-shadow: 0 0 1em #0000004d;
    text-align: center;
}

.modal::backdrop {
    background-image: linear-gradient(
        to top,
        #32ee7f,
        #00f0ab,
        #00f1d0,
        #00efec,
        #27ecfe
    );
    opacity: 0.4;
}

h1 {
    font-size: 2rem;
}

li {
    list-style: none;
}

button > p,
dialog > h2 {
    margin-top: 0;
}

dialog > p {
    margin: 0;
}

dialog > h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.modal-img {
    width: 100%;
    height: auto;
}

.pokemon-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
}

.detail-line {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

@media (max-width: 609px) {
    main {
        margin: 2em 0;
    }
    .container {
        border-radius: 0;
    }
}
